{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% trans "Page Not Found" %}{% endblock %}

{% block "dialog-body" %}
  <p>{% trans "The page you have asked for is not found. This could be because your url is slightly wrong or because the link you have is no longer valid. Please check the url carefully for errors and reffer back to the page you came from." %}</p>
  <p>{% trans "If you have found an error, please contact us. Describe the page you were on before this one and this page's address." %}</p>
{% endblock %}

{% block "dialog-buttons" %}
  <a href="mailto:{{ admin_email }}" class="btn btn-primary">Contact Us</a>
{% endblock %}
