/*! project specific CSS goes here. */

body > .container {
  padding-top: 50px;
}

*[data-toggle=tooltip] {
  cursor: pointer;
}

a, a:active, a:hover {
   outline: 0 !important;
}

table.content-to-top td,
table.content-to-top th {
  vertical-align: top;
}

table input {
  width: 100%;
}

td.field {
}

td.field input,
td.field textarea {
  width: 100%;
}

th[scope="row"] label {
  text-align: right;
  width: 100%;
}

.modal-body .modal-footer {
  padding: 15px 0px 0px 0px;
}

/* override the checkbox position */
td.field input[type="checkbox"] {
  width: 16px;
  text-align: left;
}

/* stype the modules view */

.vis-network-tooltip ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.cite > svg {
  max-height: 80px;
  max-width: 80px;
  padding: 6px;
  float: left;
}

/* Modal extensions */

.tabs {
  position: absolute;
  top: 2px;
  left: 14px;
}
label.tab {
  border: #e5e5e5 solid 1px;
  background-color: #fff;
  padding: 6px 12px;
  display: inline-block;
  margin: 2px 0px;
  cursor: pointer;
}
label.tab.selected {
  background-color: #34A7C1;
  color: white;
  border: #ccc solid 1px;
}
.fields {
  margin-top: 40px;
}

/* on-off checkbox */
.onoffswitch {
  position: relative; width: 72px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  float: right;
}
.onoffswitch.delete {
  width: 92px;
}
/*.onoffswitch-checkbox {*/
.onoffswitch > input {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
  font-size: 14px; color: white;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  background-color: #34A7C1; color: #FFFFFF;
  padding-left: 10px;
  text-align: left;
}
.delete .onoffswitch-inner:before {
  content: "DELETE";
  background-color: #d9534f; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  background-color: #EEEEEE; color: #999999;
  padding-right: 10px;
  text-align: right;
}
.delete .onoffswitch-inner:after {
  content: "KEEP";
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 3px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: calc(100% - 26px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch:not(.opposite) > input:checked + .onoffswitch-label .onoffswitch-inner,
.onoffswitch.opposite > input:not(:checked) + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch:not(.opposite) > input:checked + .onoffswitch-label .onoffswitch-switch,
.onoffswitch.opposite > input:not(:checked) + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.onoffswitch input:disabled + .onoffswitch-label .onoffswitch-inner:after {
  color: #ddd;
}
.onoffswitch input:disabled + .onoffswitch-label .onoffswitch-switch {
  background-color: #eee;
}

td .progress {
  margin-bottom: 2px;
}

.list-group-item .label.pull-right {
  margin-left: 6px;
}
