{% extends "modal.html" %}
{% load i18n %}

{% block "dialog-title" %}<h4><span class="glyphicon glyphicon-user"></span> {% block "page-title" %}{{ object }}{% endblock %}</h4>{% endblock %}

{% block "dialog-body" %}
  <ul>
    <li><strong>Username</strong>: <em>{{ object.username }}</em></li>
    <li><strong>Initials</strong>: <em>{{ object.initials }}</em></li>
    <li><strong>Is Admin</strong>: <em>{{ object.is_staff }}</em></li>
    <li><strong>Role</strong>: <em>{{ object.get_role }}</em></li>
  </ul>
{% endblock %}

{% block "dialog-buttons" %}
  {% if request.user == object %}
    <a class="btn btn-primary" href="{% url 'people:edit_profile' %}">{% trans "Edit Profile" %}</a>
  {% else %}
    <a class="btn btn-primary" href="mailto:{{ object.email }}">{% trans "Send Email" %}</a>
  {% endif %}
{% endblock %}
