{% extends 'modal.html' %}
{% load i18n static %}

{% block "form-buttons" %}
  <input type="hidden" name="next" value="{{ request.GET.next }}"/>
  <a href="{{ request.GET.next|default:request.user.get_absolute_url }}" class="btn btn-default">{% trans "Cancel" %}</a>
  <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
{% endblock %}

