{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% block "page-title" %}{% trans "Logout Complete" %}{% endblock %}{% endblock %}

{% block "dialog-body" %}
  <p>{% trans "Thank you for using the website." %}</p>
{% endblock %}

{% block "dialog-buttons" %}
  <a class="btn btn-primary" href="{% url "people:login" %}">{% trans "Login Again" %}</a>
{% endblock %}
