{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% block "page-title" %}{% trans "Password Reset Complete" %}{% endblock %}{% endblock %}

{% block "dialog-body" %}
  <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
{% endblock %}

{% block "dialog-buttons" %}
  <a class="btn btn-primary" href="{% url 'people:login' %}">{% trans "Log in" %}</a>
{% endblock %}
