{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% block "page-title" %}
  {% if validlink %}
    {% trans "Enter new password" %}
  {% else %}
    {% trans "Password reset unsuccessful" %}
  {% endif %}
{% endblock %}{% endblock %}

{% block "dialog-body" %}
  {% if validlink %}
    {{ block.super }}
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
  {% endif %}
  {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  {% endif %}
{% endblock %}

{% block "dialog-buttons" %}
  {% if validlink %}
    <button class="btn btn-primary" type="submit">{% trans "Reset Password" %}</button>
  {% else %}
    <a class="btn btn-primary" href="{% url "people:password_reset" %}">{% trans "Try Again" %}</a>
  {% endif %}
{% endblock %}
