{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% block "page-title" %}{% trans "Password Reset Email Sent" %}{% endblock %}{% endblock %}

{% block "dialog-body" %}
  <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
  <p>{% trans "If you don't receive an email, please make sure you've used the correct email address, and check your spam folder." %}</p>
{% endblock %}

{% block "dialog-buttons" %}
  <a class="btn btn-primary" href="{% url "people:password_reset" %}">{% trans "Try Again" %}</a>
{% endblock %}
