{% extends "base.html" %}
{% load static vetters %}

{% block "title" %}Vetting Status Dashboard{% endblock %}

{% block extra_css %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.min.css">
{% endblock %}
{% block extra_js %}{{ block.super }}
  <script type="text/javascript" src="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.js"></script>
  <script type="text/javascript" src="{% static "chartist/chartist-plugin-axistitle.min.js" %}"></script>
{% endblock %}

{% block content %}

  <!--h2>Number of Vets per Candidate</h2>

<div class="ct-chart" style="height: 300px;">
<script>
new Chartist.Bar('.ct-chart', {
  labels: ['1', '2', '3', '4'],
  series: [
    [800000, 1200000, 1400000, 1300000],
    [200000, 400000, 500000, 300000],
    [100000, 200000, 400000, 600000]
  ]
}, {
  stackBars: true,
  chartPadding: {
    top: 20,
    right: 20,
    bottom: 30,
    left: 20
  },
  axisY: {
    labelInterpolationFnc: function(value) {
      return (value / 1000) + 'k';
    }
  },
  plugins: [
    Chartist.plugins.ctAxisTitle({
      axisX: {
        axisTitle: 'Time (mins)',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 50
        },
        textAnchor: 'middle'
      },
      axisY: {
        axisTitle: 'Goals',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: -10
        },
        textAnchor: 'middle',
        flipTitle: false
      }
    })
  ]
}).on('draw', function(data) {
  if(data.type === 'bar') {
    data.element.attr({
      style: 'stroke-width: 30px'
    });
  }
});
</script>
  </div>

  <hr/-->


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" colspan="6"><h3>Number of Objects with n Reviews</h3></th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th scope="col">Delivery</th>
        <th scope="col">Total</th>
        <th scope="col">Group Progress</th>
        <th scope="col">My Progress</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for delivery in object_list %}
      <tr>
        <td>
          <span title="{{ delivery.get_status_display }}" data-toggle="tooltip"
          {% if delivery.status == 'O' %}class="glyphicon glyphicon-user"
          {% elif delivery.status == 'G' %}class="glyphicon glyphicon-briefcase"
          {% elif delivery.status == 'C' %}class="glyphicon glyphicon-ok"
          {% else %}class="glyphicon glyphicon-alert">
          {% endif %}</span>
        </td>
        <td>{{ delivery.slug }}</td>
        <td>{{ delivery.transits.count }}</td>
        <td>
	  <div class="progress" style="min-width: 200px;">
            {% for prog in delivery.transits.all.get_progress %}
            <div class="progress-bar progress-bar-{{ prog.css }}" title="{{ prog.reviews }}: {{ prog.reports }}" data-toggle="tooltip" style="opacity:{{ prog.opacity|default:1.0 }}; width:{{ prog.percent }}%" role="progressbar"></div>
            {% endfor %}
	  </div> 
        </td>
        <td>
	  <div class="progress" style="min-width: 200px;">
            {% with done=delivery|progress:request.user %}
            <div class="progress-bar progress-bar-success" title="{{ done.count }}/{{ done.total }}" data-toggle="tooltip" role="progressbar" style="width:{{ done.percent }}%"></div>
            {% endwith %}
	  </div> 
        </td>
        <td>
          {% if delivery.status == 'O' %}
            {% with delivery|next_indervidual_report:request.user as next_vet %}
              <a href="{{ next_vet.get_vetting_url }}" class="btn btn-default btn-xs{% if not next_vet %} disabled{% endif %}">Start Vetting</a>
            {% endwith %}
          {% endif %}
          {% if perms.vetting.is_officer %}
            {% if delivery.status == 'G' %}
              {% with delivery|next_group_report:request.user.get_role as next_vet %}
                {% if next_vet %}
                  <a href="{{ next_vet.get_review_url }}" class="btn btn-default btn-xs">Group vetting</a>
                {% endif %}
              {% endwith %}
            {% endif %}
            <a href="{{ delivery.get_absolute_url }}" class="btn btn-primary btn-xs">Review TOI list</a>
            {% if delivery.status == 'O' %}
              {% if request.user.get_role %}
              <a href="{% url 'vet:delivery.status' delivery.slug 'G' %}" class="btn btn-warning btn-xs">Open Group Vetting</a>
              {% endif %}
            {% elif delivery.status == 'G' %}
              <a href="{% url 'vet:delivery.status' delivery.slug 'O' %}" class="btn btn-default btn-xs">Reopen for User Vetting</a>
              <a href="{% url 'vet:delivery.status' delivery.slug 'C' %}" class="btn btn-danger btn-xs">Close Completely</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% empty %}
        <tr><td colspan="5"><h2 class="text-center"><span class="glyphicon glyphicon-alert"></span> No Data Deliveries</h2></td></tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
