{% extends "base.html" %}

{% block extra_js %}
  <script>
  $(window).keydown(function(e) {
    if($("textarea").is(":focus")){ return }
    if($("input[type='text']").is(":focus")){ return }
   switch (e.keyCode) {
    case 49:
      return $('input:radio[name=disposition][value=P]').prop('checked', true);
    case 50:
      return $('input:radio[name=disposition][value=EB]').prop('checked', true);
    case 51:
      return $('input:radio[name=disposition][value=VS]').prop('checked', true);
    case 52:
      return $('input:radio[name=disposition][value=IN]').prop('checked', true);
    case 53:
      $('input:radio[name=disposition][value=O]').prop('checked', true);
      return $('input:radio[name=disposition][value=MP]').prop('checked', true);
   }
  });
  </script>
  <style>
    object {
      min-height: 900px;
    }
    .container-full {
      margin-top: 51px;
    }
  </style>
{% endblock %}

{% block "body" %}
<div class="container-full">
  <div class="row">
    <div class="col-sm-8">
      {% if object.summary %}
      <object data="{{ object.summary.url }}#page=1&zoom=FitH" type="application/pdf" width="100%" height="100%">
        <p>No PDF support, have a <a href="{{ object.summary.url }}">download</a></p>
      </object>
      {% else %}
        <h2>No Summary PDF</h2>
      {% endif %}
    </div>
    <div class="col-sm-4">
      {% if owner.user %}
        <h1><span class="glyphicon glyphicon-user"></span> {{ owner.user }}</h1>
      {% elif owner.group %}
        <h1><span class="glyphicon glyphicon-briefcase"></span> {{ owner.group }} Review</h1>

        <ul class="list-group">
          {% for vetting in object.individuals.all %}
            <li class="list-group-item">
              <span class="label label-primary pull-right">{{ vetting.edited|date:"jS M Y H:i" }}</span>
              <span class="label label-info pull-right">{{ vetting.user }}</span>
              <h4 class="list-group-item-heading">{{ vetting.get_disposition_display }}</h4>
              <p class="list-group-item-text">{{ vetting.comment }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {% with form as fieldset %}
          {% include "fields.html" %}
        {% endwith %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if object.detail %}
          <a href="{{ object.detail.url }}" class="btn btn-default">Full Report</a>
        {% else %}
          <a href="" class="btn btn-default disabled">Full Report</a>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

