{% extends "base.html" %}
{% load static vetters %}

{% block content %}

  <a href="" class="btn btn-primary pull-right">CSV</a>
  <h1>{{ title }}</h1>

  {% with reviewers=object.reviewers group=object.group %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">TIC ID</th>
        <th scope="col">Candidate ID</th>
        <th scope="col" colspan="{{ reviewers.count }}">Reviewers</th>
        {% if group %}
          <th scope="col">Group</th>
        {% endif %}
        <th scope="col">Final Disposition</th>
        <th scope="col">Reports</th>
      </tr>
      <tr>
        <th scope="col" colspan="2">&nbsp;</th>
        {% for reviewer in reviewers %}
          <th scope="col">{{ reviewer.get_initials }}</th>
        {% endfor %}
        <th>{{ group }}</th>
        <th colspan="2">&nbsp;</th>
      </tr>

    </thead>
    <tbody>
      {% for report in object_list %}
      <tr>
        <td>{{ report.tic_id }}</td>
        <td>{{ report.candidate_id }}</td>
        {% for reviewer in reviewers %}
          <td>{{ report|vetting_for:reviewer }}</td>
        {% endfor %}
        {% if group %}
          <td>{{ report|vetting_group:group }}</td>
        {% endif %}
        <td>{{ report.get_disposition_display }}</td>
        <td>
          {% if report.summary %}
            <a href="{{ report.summary.url }}" class="btn btn-default btn-sm">Summary</a>
          {% endif %}
          {% if report.detail %}
            <a href="{{ report.detail.url }}" class="btn btn-primary btn-sm">Detail</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    {% if is_paginated %}
      <nav aria-label="Page navigation example">
	<ul class="pagination">
	  {% if page_obj.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% else %}
	    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
	  {% endif %}
	  <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
	  {% if page_obj.has_next %}
	  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% else %}
	    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
	  {% endif %}
	</ul>
      </nav>
    {% endif %}

  {% endwith %}

{% endblock %}
