{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TESS Exoplanet Vetter">
    <meta name="author" content="Martin Owens">

    <link rel="shortcut icon" href="{% static "images/icon.svg" %}"/>
    <title>{% block "title" %}{{ title|default:"Page" }} - TEV{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-dialog.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/basic.css' %}" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/basic.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

    {{ form.media }}
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}" style="padding: 2px;"><img style="width: 47px;" src="{% static "images/logo.svg" %}"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% include "nav.html" %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block "body" %}
    <!-- Page Content -->
    <div class="container">
      {% if breadcrumbs and breadcrumbs|length > 1 %}
        <ul class="breadcrumb">
          {% for link, name in breadcrumbs %}
            {% if not forloop.last %}
	      <li><a href="{{ link }}">{{ name }}</a></li>
            {% else %}
              <li class="active">{{ name }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

        {% block content %}
            (main_content)
        {% endblock %}

        {% block footer_content %}
            <!-- Footer -->
            <hr/>
            <footer style="margin-bottom: 30px;">
              <div class="row">
                <div class="col-lg-12">
                  <center>
                    &copy; {% now "Y" %} MIT / TESS - AGPLv3
                    &nbsp;|&nbsp; <a href="mailto:{{ admin_email }}">Contact</a><br>
                  </center>

                </div>
              </div>
            </footer>
        {% endblock %}
    </div>
    {% endblock %}

    {% block extra_footer_js %}
    {% endblock %}
</body>
</html>
