    <li>
      <a href="/">Home</a>
    </li>

    {% if not request.user.is_authenticated %}
        <li>
            <a href="{@ url 'users:signup' %}">Sign Up</a>
        </li>
        <li>
        <a href="{% url 'people:login' %}">Log In</a>
        </li>
    {% else %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.get_name }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'people:edit_profile' %}"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
          {% if request.user.is_staff %}
            <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>
          {% endif %}
          <li><a href="{% url 'people:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
      </li>
    {% endif %}

    {% if request.user.get_role %}
      <li>
        <a>{{ request.user.get_role }}</a>
      </li>
    {% endif %}
